* {
    font-family: "Roboto";
    font-weight: 300;
    font-style: normal;
}
h1 {
    text-align: center;
    font-weight: bold;
    color: #fff;
    padding-top: 30px;
}
.navbar-brand {
    color:#154360;
    font-weight: bold;
}
.navbar-brand:hover {
    color: #64b5f6;
}
.nav-link {
    color: #154360;
    font-weight: bold;
}
.nav-link:hover {
    color: #64b5f6;
}
main {
    background-color: #e3f2fd;
}
h2 {
    text-align: center;
    font-weight: bold;
    padding: 20px;
    color: #666;
}
form {
    background-color: #e3f2fd;
    margin: auto;
}
.form-group {
    padding: 10px 10px;
}
input, textarea {
    font-size: 12px;
    width: 100%;
    box-sizing: border-box;
    padding: 6px 12px;
    border: 1px solid #999;
}
textarea {
    min-width: 100%;
    resize: none;
    min-height: 100px;
}
label {
    font-size: 12px;
    margin-bottom: 5px;
}
.btn {
    width: 100%;
    background-color: #0d47a1;
    color: #fff;
    display:grid;
    margin: auto;
}
.btn:hover {
    background-color: #42a5f5;
    color: #eee;
}
.alert {
margin: 20px 10px;
}
.card {
    margin: 20px 20px;
    padding: 40px 10px;
}
.card-body {
    margin: 40px 0;
    padding: 20px 0;
    font-weight: 500;
}
footer {
    color: #eceff1;
    text-align: center;
    padding: 10px 0;
}
footer a {
    text-decoration: none;
    color: #eceff1;
    margin: 0 30px;
}   